body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1e2caf;
}
/*Estilos para cabecalho*/
h1 {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #ffff;
    margin-bottom: 20px;
}

h3 {
    color: #2b2c2e;
}

ol {
    color: #2b2c2e;
}